@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');

:root {
  --clr-primary-100 : #ED7161;
  --clr-primary-300 : #FBC4B3;
  
  --clr-short-break-100 : #397097;
  --clr-short-break-300 : #478aba;

  --clr-long-break-100 : #41cc93;
  --clr-long-break-300 : #6ff5bf;

  --clr-accent-100 : #D13834;
  --clr-accent-300 : #971A1A;

  --clr-short-break-accent-100 : #24398E;
  --clr-short-break-accent-300 : #1B2671;

  --clr-long-break-accent-100 : #14754d;
  --clr-long-break-accent-300 : #279c6c;

  --font-main: 'Pridi';
  --font-clr-primary : #FFFFFF;
  --font-clr-txt-active : #971A1A;

  --txtbx-clr-bg : #ffffff;

  --icon-size: 30px;

  --btn-size-height-timer: 70px;
  --btn-size-width-timer: 100px;
}

body {
  color: var(--font-clr-primary);

  font-family: var(--font-main);
}

header {
  font-size: 23px;
}

.container {
  margin-inline: auto;
  padding: 1rem 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-inline {
  display: flex;
  justify-content: space-between;
}

header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logolink {
  display: flex;
  justify-content: center;
  align-items: center;  

  max-width: 50%;
  text-decoration: none;
  color: var(--font-clr-primary);
}

.logolink img {
  width: var(--icon-size);
  height: var(--icon-size);

  padding : 0 0.25rem;
}

.logolink div {
  padding: 0.25rem 0;
}

.right-side {
  float: right;
}

nav img {
  width: var(--icon-size);
  height: var(--icon-size);

  padding: 0 0.5rem;
}

nav img,
.task-check,
.counter-arrow-up,
.counter-arrow-down {
  cursor: pointer;
}

.header-menu {
  display: flex;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dropdown-login:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;

  position: absolute;
  right: var(--icon-size);
  top: 50px; 

  font-size: 15px;

  border-radius: 10px;
}

.dropdown-menu ul {
  padding: 0.5rem;
  margin: 0;
  
  list-style-type: none;
}

.dropdown-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* timer css */
.timer-title {
  font-size: 25px;

  padding: 0.25rem 0;
}

.pomodoro-timer {
  border-radius: 50%;

  padding: 0.25rem 0;
}

.pomodoro-svg {
  max-width: 100%;
  overflow: visible;
  transform: rotate(-90deg);
}
.svg-indicator {
  width: 200px;
  height: 200px;
}

.time-down {
  position: relative;
}

.time {
  font-size: 50px;
  position: absolute;
}

.container.btns {
  padding-left: 35%;
  padding-right: 35%;
  justify-content: center;
}

.btn {
  min-width: var(--btn-size-width-timer);
  height: var(--btn-size-height-timer);

  margin-left: 5%;
  margin-right: 5%;

  border-radius: 10%;

  cursor: pointer;
}

.btn:active {
  transform: translate(3px, 3px);
}

/* tasks css */
.bg-tasks-list {
  width: 100%;
  min-height: 50vh;
}

.tasks-list {
  .add-task {
    flex-direction: column;
  }

  .form {
    display: flex;
    align-items: center;
    
    width: 100%;

    .task-txt {
      flex: 50%;
    }
  }
}

.tasks-list * {
  font: var(--font-main) ;
}

.tasks-list-title {
  font-size: 30px;
}

.task-txt {
  height: 2rem;

  opacity: 50%;

  border-radius: 5px;
}

.add-task-btn,
.del-task-btn {
  min-width: 30px;
  height: min(30px);

  margin: 0 0 0 0.5rem;

  border-radius: 50%;

  font-size: 30px;
  font-weight: 900;

  cursor: pointer;
}

.add-task-btn:hover,
.del-task-btn:hover {
}

.tasks-grid {
  display: grid;
  margin: 0 5%;
  padding: 1rem 3%;
}

.task-data {
  display: flex;
  align-items: center;

  margin: 0.5rem 0;

  .crnt-task {
    flex: 10%;
  }
  .task-check,
  .task-counter,
  .pomodoro-counter,
  .del-task-btn {
    flex: 3%;
  }
  .task-txt {
    flex: 75%;
  }
  
  div, input {
    display: flex;
    justify-content: center;
  }

  .task-check,
  .task-counter,
  .pomodoro-counter,
  .del-task-btn,
  .task-txt,
  .counter-arrows {
    margin: 0 0.25rem;
  }

.task-check {
  display: flex;
  vertical-align: middle;

  img {
    width: 20px;
    height: 20px;
    }
  }

  /* task and pomodoro counter arrows */
  .counter-arrows {
    flex-direction: column;

  }
  .counter-arrow-up,
  .counter-arrow-down {
    border-left: 5px solid  transparent;
    border-right: 5px solid transparent;
  }
  .counter-arrow-up {
    margin-bottom: 5px;
  }
  .counter-arrow-down {
    margin-top: 5px;
  }

  .task-counter {
    /* padding: 0 4px; */
  }
}

/* login */
.login-form {
  margin: 0;
  padding: 0;
}
.login-form form {
  display: inline;
  text-align: center;
}
.login-btns-size,
.login-inputs-size {
  height: 2rem;
  width: 12rem;
}
.login-border-none {
  border: none;
}
.login-input-border-radius {
  border-radius: 10px;
}
.login-btn-border-radius {
  border-radius: 20px;
}


.login-email {
  border: rgb(170, 168, 168) 1.5px solid;
}
.login-password {
  border: rgb(170, 168, 168) 1.5px solid;
}
.login-input-title {
  font-size: medium;
}
.login-input-sub {
  cursor: pointer;
  font-size: small;
}
.login-btn {
  cursor: pointer;

  background-color: rgb(242, 24, 24);
  color: white;
}
.login-link-btn {
  cursor: pointer;
}

.sns-btns {
  display: inline;
  text-align: center;
}

.google-btn {
  cursor: pointer;
  border: rgb(161, 157, 157) 1px solid;
  background-color: rgb(255, 255, 255);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.facebook-btn {
  cursor: pointer;
  background-color: rgb(24, 119, 242);
  color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .form {
    .task-txt {
      width: auto;
    }
  }
}