/* pomodoro colors */
.pomodoro-mode {
    background-color: var(--clr-primary-100);
  }
  .pomodoro-mode .pomodoro-timer.inner,
  .pomodoro-mode.bg-tasks-list {
    background-color: var(--clr-primary-300);
  }
  .pomodoro-mode .btn {
    background-color: var(--clr-accent-100);
  }
  .pomodoro-mode .pomodoro-timer.outer {
    border: var(--clr-accent-100) solid 5px;
  }
  .pomodoro-mode .task-txt {
    border: 1px solid var(--clr-accent-100);
  }
  .pomodoro-mode .time {
    text-shadow: 0 1px var(--clr-accent-300);
  }
  .pomodoro-mode .btn:hover {
    box-shadow: 3px 3px var(--clr-accent-300);
  }
  .pomodoro-mode .task-txt,
  .pomodoro-mode .current-task-check,
  .pomodoro-mode .current-task-check.Mui-checked {
    color: var(--clr-accent-300);
  }
  .pomodoro-mode .add-task-btn,
  .pomodoro-mode .del-task-btn {
    background-color: var(--clr-accent-300);
    color: var(--clr-primary-300);
  }
  .pomodoro-mode .add-task-btn:hover,
  .pomodoro-mode .del-task-btn:hover {
    box-shadow: 0 0 5px var(--clr-primary-100);
  }
  .pomodoro-mode .counter-arrow-up {
    border-bottom: 7px solid var(--clr-accent-300);
  }
  .pomodoro-mode .counter-arrow-down {
    border-top: 7px solid var(--clr-accent-300);
  }
  .pomodoro-mode .task-counter .number,
  .pomodoro-mode .pomodoro-counter .number {
    color: var(--clr-accent-300);
  }
  .pomodoro-mode .tasks-grid {
    border: 2px solid var(--clr-accent-100);
  }
  /* short break colors */
  .short-break-mode {
    background-color: var(--clr-short-break-100);
  }
  .short-break-mode .pomodoro-timer.inner,
  .short-break-mode.bg-tasks-list  {
    background-color: var(--clr-short-break-300);
  }
  .short-break-mode .btn {
    background-color: var(--clr-short-break-accent-100);
  }
  .short-break-mode .pomodoro-timer.outer {
    border: var(--clr-short-break-accent-100) solid 5px;
  }
  .short-break-mode .task-txt {
    border: 1px solid var(--clr-short-break-accent-100);
  }
  .short-break-mode .time {
    text-shadow: 0 1px var(--clr-short-break-accent-300);
  }
  .short-break-mode .btn:hover {
    box-shadow: 3px 3px var(--clr-short-break-accent-300);
  }
  .short-break-mode .task-txt,
  .short-break-mode .current-task-check,
  .short-break-mode .current-task-check.Mui-checked {
    color: var(--clr-short-break-accent-300);
  }
  .short-break-mode .add-task-btn,
  .short-break-mode .del-task-btn {
    background-color: var(--clr-short-break-accent-300);
    color: var(--clr-short-break-300);
  }
  .short-break-mode .add-task-btn:hover,
  .short-break-mode .del-task-btn:hover {
    box-shadow: 0 0 5px var(--clr-short-break-100);
  }
  .short-break-mode .counter-arrow-up {
    border-bottom: 7px solid var(--clr-short-break-accent-300);
  }
  .short-break-mode .counter-arrow-down {
    border-top: 7px solid var(--clr-short-break-accent-300);
  }
  .short-break-mode .task-counter .number,
  .short-break-mode .pomodoro-counter .number {
    color: var(--clr-short-break-accent-300);
  }
  .short-break-mode .tasks-grid {
    border: 2px solid var(--clr-short-break-accent-100);
  }
  /* long break colors */
  .long-break-mode {
    background-color: var(--clr-long-break-100);
  }
  .long-break-mode .pomodoro-timer.inner,
  .long-break-mode.bg-tasks-list {
    background-color: var(--clr-long-break-300);
  }
  .long-break-mode .btn {
    background-color: var(--clr-long-break-accent-100);
  }
  .long-break-mode .pomodoro-timer.outer {
    border: var(--clr-long-break-accent-100) solid 5px;
  }
  .long-break-mode .task-txt {
    border: 1px solid var(--clr-long-break-accent-100);
  }
  .long-break-mode .time {
    text-shadow: 0 1px var(--clr-long-break-accent-300);
  }
  .long-break-mode .btn:hover {
    box-shadow: 3px 3px var(--clr-long-break-accent-300);
  }
  .long-break-mode .task-txt,
  .long-break-mode .current-task-check,
  .long-break-mode .current-task-check.Mui-checked {
    color: var(--clr-long-break-accent-300);
  }
  .long-break-mode .add-task-btn,
  .long-break-mode .del-task-btn {
    background-color: var(--clr-long-break-accent-300);
    color: var(--clr-long-break-300);
  }
  .long-break-mode .add-task-btn:hover,
  .long-break-mode .del-task-btn:hover {
    box-shadow: 0 0 5px var(--clr-long-break-100);
  }
  .long-break-mode .counter-arrow-up {
    border-bottom: 7px solid var(--clr-long-break-accent-300);
  }
  .long-break-mode .counter-arrow-down {
    border-top: 7px solid var(--clr-long-break-accent-300);
  }
  .long-break-mode .task-counter .number,
  .long-break-mode .pomodoro-counter .number {
    color: var(--clr-long-break-accent-300);
  }
  .long-break-mode .tasks-grid {
    border: 2px solid var(--clr-long-break-accent-100);
  }
