.settings-form {
    margin: 0;
    padding: 0;
}
.settings-header {
    padding: 0rem 0.25rem;

    align-items: center;

    border-bottom: 2px solid black;
}
.settings-header h3 {
    color: #786f6f;
    margin: 0;
}

.settings-tab:hover,
.settings-tab.active {
    color: black;

    cursor: pointer;
}

.settings-input {
    padding: 0.5rem 0.25rem;
}

.settings-footer {
    padding: 0.25rem;

    border-top: 2px solid black;
}

.padding-top-bottom {
    padding: 0.5rem 0;
}

.modal-btn {
    height: 10%;
    width: 15%;

    font-size: 16px;    

    background-color: #E2DDDD;
    border-radius: 10px;
    border: 2px solid black;
}
.close-btn:hover {
    cursor: pointer;
    color: #786f6f;
}
.modal-btn:hover {
    background-color: #D9D9D9;
}

.input-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-slider {
    width: 50% !important;
}


.info-wrap {
    padding: 1rem 5%;
    h3 {
        margin: 1.5rem 0 0.5rem 0;
    }
    p {
        margin: 0 0 0.5rem 0;
    }
}

@media screen and (max-width: 660px) {
    .input-line {
        flex-direction: column;
    }    
  }